/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 27 sept. 2023, 15:05:58
    Author     : josel
*/
.logo{
    width: 5%;
    height: 5%;
}
